{% extends 'templates/base.html' %}

{% block content %}
<div class="container">


 <div class = 'col-lg-12'>

     <h1>Groups</h1><a href="{% url 'add_group' %}" class = 'btn btn-success'>Add Group</a>
     {% for message in messages  %}
     <div class='alert alert-danger bg-danger text-white mt-3'>{{ message }}</div>
     
     {% endfor %}
    <hr style="background-color: white;">
    {% if groups %}
    {% for group in groups  %}
        
        
    <div class="card text-primary mt-2" >
   
   
    

    
    
    <h5 class="card-header"><a class = 'text-primary' href= "{% url 'group_details' group.slug %}"> {{ group.name }}</a><cite style='float: right; font-size: 15px;'>Created By: {{group.group_admin|title }} Created At: {{ group.created_at }}</cite></h5>
    
  <div class="card-body">
   
    <p class="card-text">{{ group.description }}</p>
    
    {% if request.user.id == group.group_admin.id %}
     <form method= 'POST' action="{% url 'delete_group' %}" style='float:left;'>
    {% csrf_token %}
    <input type='hidden' name = 'group_id' value = '{{ group.id }}'></input>
    <button type='submit' class="btn btn-danger" >Delete</button>
    </form>
    {% else %}

    {% if user in group.members.all %}
     <form method= 'POST' action="{% url 'leave_group' %}" style='float:left;'>
    {% csrf_token %}
    <input type='hidden' name = 'group_id' value = '{{ group.id }}'></input>
    <button type='submit' class="btn btn-warning" >Leave</button>
    </form>
    {% else %}
    <form method= 'POST' action="{% url 'join_group' %}" style='float:left;'>
    {% csrf_token %}
    <input type='hidden' name = 'group_id' value = '{{ group.id }}'></input>
    <button type='submit' class="btn btn-primary">Join</button>
    </form>
    {% endif %}
   {% endif %}
    

    
    
     <a href="#" class="btn btn-warning" style="border-radius: 20px; float: right; margin-left: 2px;">Members ({{group.members.all.count}})</a>
      <a href="{% url 'group_details' group.slug %}" class="btn btn-success" style="border-radius: 20px; float: right;">Posts ({{ group.post_set.count }})</a>

  </div>
</div>
        
        {% endfor %}
   
    {% else %}
    <h1>No Groups Found</h1>
    {% endif %}
   </div>


</div>
{% endblock %}